---
import BestPackages from "../components/section-pages/homepage/BestPackages.astro";
import BrowsePackageByCity from "../components/section-pages/homepage/BrowsePackageByCity.astro";
import Hero from "../components/section-pages/homepage/Hero.astro";
import Reason from "../components/section-pages/homepage/Reason.astro";
import Testimonial from "../components/section-pages/homepage/Testimonial.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <div class="flex flex-col gap-8 md:gap-14 lg:gap-[70px] pb-[100px]">
    <Hero/>
    <Reason/>
    <BestPackages/>
    <BrowsePackageByCity/>
    <Testimonial/>
  </div>
</BaseLayout>
